{% extends 'template.html.twig' %}
{% block title %}{{'historique'|trans}}{% endblock %}
{% block body %}
<h6 class="mb-0 text-uppercase">{{'historique'|trans}}</h6>
<hr/>  
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">

            {% include "flaches.html.twig" %}
            </div>
            <!--end breadcrumb-->
            {% set first_etp = details1|first %}
            {% set i = 0 %}
                    
            <div class="row">
              <div class="col col-lg-12 mx-auto">    
                <div class="card radius-10">
                  <div class="card-body">

                    {% include "elements/info_etudiant.html.twig" %}

        
                    {% for det1 in details1 %}
                        {% set i = i +1  %}
                        {% if det1.ETA_AVC_VET != 'E' %}   
                        <div class="accordion" id="accordionExample{{i}}">
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne{{i}}">
                              <button class="accordion-button {% if first_etp.COD_ETP != det1.COD_ETP %} collapsed  {% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{i}}" aria-expanded="{% if first_etp.COD_ETP == det1.COD_ETP %} true {% else %} false {% endif %}" aria-controls="collapseOne{{i}}">
                               {{det1.COD_ETP}},{{det1.COD_ANU}}
                              </button>
                            </h2>
                            <div id="collapseOne{{i}}" class="accordion-collapse collapse {% if first_etp.COD_ETP == det1.COD_ETP %} show {% endif %} " aria-labelledby="headingOne" data-bs-parent="#accordionExample{{i}}">
                              <div class="accordion-body col col-lg-12 mx-auto">
                                <div class="table-responsive">
                                <table class="table table-bordered mb-0" style="font-weight:bold;">
    									<thead class="bg-light-primary">
                                            <tr>
                                                <th style="text-align:center !important ;" scope="col" colspan="2">{{'intitule'|trans}}</th>
                                                <th style="text-align:center !important ;" scope="col">{{'note_sur_20'|trans}}</th>
                                                <th style="text-align:center !important ;" scope="col">{{'pts_jury'|trans}}</th>
                                                <th style="text-align:center !important ;" scope="col">{{'resultat'|trans}}</th>
                                                <th style="text-align:center !important ;" scope="col">{{'session'|trans}}</th>
                                                <th style="text-align:center !important ;" scope="col">{{'annee_univ'|trans}}</th>
                                            </tr>
                                       </thead>
    									<tbody>

                                            {% for det in details %}
                                                {% if det1.COD_ETP == det.COD_ETP  %}
                                                    {% if 'SE' in det.COD_NEL  %}
                                                        <tr style="background-color:#FFD580;">
                                                            <td style="text-align:center !important ;" colspan="2">{{det.LIB_ELP}}</td>
                                                            <td style="text-align:center !important ;">{{det.NOT_ELP}}</td>
                                                            <td style="text-align:center !important ;">{{det.NOT_PNT_JUR_ELP}}</td>
                                                            <td style="text-align:center !important ;">{{det.COD_TRE}}</td>
                                                            <td style="text-align:center !important ;">{{det.COD_SES}}</td>
                                                            <td style="text-align:center !important ;">{{det.COD_ANU}}/{{det.COD_ANU + 1}}</td>
                                                        </tr>
                                                    {% elseif 'MO' in det.COD_NEL %}
                                                        <tr style="background-color:#d7f2f3;"> 
                                                            <td style="text-align:center !important ;" colspan="2">{{det.LIB_ELP}}</td>
                                                            <td style="text-align:center !important ;">{{det.NOT_ELP}}</td>
                                                            <td style="text-align:center !important ;">{{det.NOT_PNT_JUR_ELP}}</td>
                                                            <td style="text-align:center !important ;">{{det.COD_TRE}}</td>
                                                            <td style="text-align:center !important ;">{{det.COD_SES}}</td>
                                                            <td style="text-align:center !important ;">{{det.COD_ANU}}/{{det.COD_ANU + 1}}</td>
                                                            </tr>
                                                    {% else %}
                                                        <tr style="background-color:white;">
                                                            <td width="10%"></td>
                                                            <td>{{det.LIB_ELP}}</td>
                                                            <td style="text-align:center !important ;">{{det.NOT_ELP}}</td>
                                                            <td style="text-align:center !important ;">{{det.NOT_PNT_JUR_ELP}}</td>
                                                            <td style="text-align:center !important ;">{{det.COD_TRE}}</td>
                                                            <td style="text-align:center !important ;">{{det.COD_SES}}</td>
                                                            <td style="text-align:center !important ;">{{det.COD_ANU}}/{{det.COD_ANU + 1}}</td>
                                                        </tr>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                                {% if det1.ETA_AVC_VET != 'E' %}
                                                    <tr class="bg-light-success">
                                                        <td style="text-align:center !important ;" colspan="2">{{det1.COD_ETP}}</td>
                                                        <td style="text-align:center !important ;">{{det1.NOT_VET}}</td>
                                                        <td style="text-align:center !important ;"></td>
                                                        <td style="text-align:center !important ;">{{det1.COD_TRE}}</td>
                                                        <td style="text-align:center !important ;">{{det1.COD_SES}}</td>
                                                        <td style="text-align:center !important ;">{{det1.COD_ANU}}/{{det1.COD_ANU + 1}}</td>
                                                    </tr>
                                                
                                                {% endif %}
    										
    									</tbody>
    								</table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>


              </div>
          </div><!--end row-->
    {% endblock %}